[submodule "vendor/textsearch_ko_original"]
	path = vendor/textsearch_ko_original
	url = https://github.com/i0seph/textsearch_ko
[submodule "extensions/textsearch_ko"]
	path = extensions/textsearch_ko
	url = https://github.com/ysys143/textsearch_ko
[submodule "vendor/pg_textsearch_original"]
	path = vendor/pg_textsearch_original
	url = https://github.com/timescale/pg_textsearch
[submodule "vendor/pg_search_original"]
	path = vendor/pg_search_original
	url = https://github.com/paradedb/paradedb
[submodule "vendor/vectorchord_bm25_original"]
	path = vendor/vectorchord_bm25_original
	url = https://github.com/tensorchord/VectorChord-bm25
[submodule "vendor/pg_tokenizer_original"]
	path = vendor/pg_tokenizer_original
	url = https://github.com/tensorchord/pg_tokenizer.rs
